:root {
    --lightblue: #EBEEF5;
    --whitepink: #F7F6FF;
    --lightgrey: #C4C4C4;
  }
  body,
  body * {
      margin: 0;
      padding: 0;
      vertical-align: top;
      box-sizing: border-box;
  }
  
  body {
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  body { 
    background-color: var(--lightblue); 
}
  
  nav {
    background-color: var(--whitepink);
  }

  footer {
      background-color: var(--whitepink);
  }
  