:root {
    --maincolor: #EBEEF5;
    --navcolor: #F7F6FF;
    --linecolor: #C4C4C4;
    --iconcolor: #02577A;
    --whitecolor: #fff;
    


  }
  body,
  body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--maincolor); 
}
  
  nav {
    background-color: var(--navcolor);
  }

  footer {
   color: var(--iconcolor);
      
  }
  